* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "titilium web";
    src: url(../Assets/Fonts/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: "dancing scr";
    src: url(../Assets/Fonts/DancingScript-VariableFont_wght.ttf)
}


body {
    background-color: #E5E9FF;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}


.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    /* Ajuste conforme necessário */
    margin: 0 auto;
    /* Centraliza o conteúdo */
}

.logo-container {
    flex: 1;
    text-align: center;
    /* Centraliza a logo dentro do container */
}

.imagemLogo {
    height: 55px;
}

.buttonlate {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
    color: #333;
    /* Ajuste conforme necessário */
}

.container-imagem {
    background-image: url(../Assets/Images/Index/Medica.png);
    height: 400px;
    /* position: relative; */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-crono {
    height: 65%;
    display: flex;
    align-items: flex-end;
}



.imagemBanner {
    height: auto;
    width: 100%;
}

.buttonBanner {
    padding: 5px 50px;
    cursor: pointer;
    border-radius: 42px;
    background-color: transparent;
    text-decoration: none;
    color: white;
    border: 2px solid #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: italic;
}

.title {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-family: dancing scr;
    font-size: 25px;
}

.title_h1 {
    color: #017E47;
    margin-top: 1%;
}

.Image_Banners {
    height: auto;
    width: 100%;
}

.container_all_Semestre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_Semestre {
    width: 76%;
}

.container-consulta {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 3%;
}

.lista-destaque {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 45px;
    align-content: center;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}