<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FmuOdonto</title>
    <script src="https://kit.fontawesome.com/bda6bb6725.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../Css/component/header.css">
</head>

<body style="margin: 0; padding: 0;">
    <div class="hero">
        <header>
            <nav id="links" class="nav_header">
                <img class="imagemLogo" src="../Assets/Images/Index/Logo_Principal.png" alt="Logo_Principal">
            </nav>
        </header>
</body>

</html>